* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
body {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8;
    background-color: #f2f1ec;
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    max-width: 100vw;
    height: 100%;
    overflow-x: hidden !important;
}
header {
    width: 90%;
    margin:auto;
    height: 70px;
}
.banner{
    position: relative;
    top:25px;
}
.banner .liner {
    border-color: #000;
    border-style: solid;
    border-width: 0 0 1px;
    height: 10px;
    line-height: 20px;
    text-align:center;
    overflow: visable;
}
main{
    margin-top:15px;
    width: 90%;
    margin:auto;

}
.container{
    border-radius: 5px;
    margin: auto;
    padding-top:20px;
} 
.col-1 {
    float: left;
    width: 8%;
    margin-top: 6px;
  }
.col-75 {
    float: left;
    width: 78%;
    margin-top: 6px;
  }
#dvd,#book,#furniture{
    border-style: solid;
    border-width: medium;
    padding:25px;
    width: 65%;
}
.button #btn1,
.button #btn2,
.button-2 #btn3,
.button-2 #btn4,
.dropdown #dropdown{
    background-color: white;
    color:black;
    float:right;
}
#btn1{
    position: relative;
    bottom: 20px;
}
#btn2{
    position: relative;
    bottom: 48px;
}
#btn3,#btn4,#dropdown{
    position: relative;
    bottom: 0px;
}
main form {
  margin-top: -50px;
}
@media screen and (max-width: 770px) {
    .col-1,.col-75,col-10,.col-2,.col-25,#book,#dvd,#furniture{
      width: 100%;
      margin-top: 0;
    }
}
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    margin:10px;
  }
  
  .row {
    position:relative;
    margin: 0 -10px;
    top:20px;
  }
  .column .card .form-check {
    position:absolute;
    left: 7px;
    top:10px;
  }
  .error{
    color: red;
  }
